<iframe id="<%= chatbotId %>" class="chat-frame"></iframe>
<script>
  (function renderChatbot() {
    const frame = document.getElementById("<%= chatbotId %>");
    const script = frame.contentWindow.document.createElement("script");

    script.src = "https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1";
    script.type = "text/javascript";

    frame.srcdoc = `
      <div id="chat-client">
        <!-- injected configured chat client -->
      </div>
      <style>
        df-messenger {
        --df-messenger-button-titlebar-font-color:#333333;
        --df-messenger-bot-message: #FAFAFA;
        --df-messenger-button-titlebar-color: #ffffff;
        --df-messenger-chat-background-color: #fafafa;
        --df-messenger-font-color: #000000;
        --df-messenger-send-icon: #000000;
        --df-messenger-user-message: #bae6ed;
        }
      </style>
    `;

    frame.onload = function () {
      const innerDoc = frame.contentWindow.document || frame.contentDocument;

      function getHtml () {
        return `<df-messenger
          user-id={"agentId":"f92d33ee-bfa0-4c27-9a5d-852381c861c2","startingIntent":"learn-about-component","placeId":"<%= chatbot.placeId %>","componentId":"<%= chatbot.componentId %>"}
          intent="WELCOME"
          chat-title="<%= chatbot.title %>"
          agent-id="f92d33ee-bfa0-4c27-9a5d-852381c861c2"
          chat-icon="images/DTPR.png"
          language-code="en">
        </df-messenger>`;
      }

      innerDoc.body.appendChild(script);
      innerDoc.getElementById("chat-client").innerHTML = getHtml();
    }
  })();
</script>
